{% extends "FormalandCatalogueBundle::layout.html.twig" %}
{% block title %} FormalandCatalogueBundle:delete {% endblock %}
{% block body %}
    je suis la page delete
    <h3>
        Voulez vous supprimer l'article: <strong style="color:red;">
            {{article.nom}}
        </strong>
        de votre liste
    </h3>
        <form method="POST" action="{{path('delete_article',{'token':article.token})}}">
            <input type="submit" class="btn btn-danger" value="oui"/>
            <a href="{{path('index_article')}}"class="btn btn-warning">Non </a>
            {{form_rest(form)}}
        </form>
     
{% endblock %}    